body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: black;
  font-size: 24px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

h4 {
  font-weight: normal;
  color: #AAA;
  font-size: 16px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}


table.bayTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  height: 80%;
  text-align: left;
  border-collapse: collapse;
}
table.bayTable td, table.bayTable th {
  padding: 3px 2px;
}
table.bayTable tbody td {
  font-size: 13px;
  color: #333333;
}
table.bayTable tr:nth-child(even) {
  background: #CEE4F5;
}
table.bayTable thead {
  background: #296DA4;
  background: -moz-linear-gradient(top, #5e91bb 0%, #3e7bad 66%, #296DA4 100%);
  background: -webkit-linear-gradient(top, #5e91bb 0%, #3e7bad 66%, #296DA4 100%);
  background: linear-gradient(to bottom, #5e91bb 0%, #3e7bad 66%, #296DA4 100%);
}
table.bayTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
}
table.bayTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  border-top: 2px solid #444444;
}
table.bayTable tfoot td {
  font-size: 14px;
}
table.bayTable tfoot .links {
  text-align: right;
}
table.bayTable tfoot .links a{
  display: inline-block;
  background: #296DA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
